---
import { getCollection } from "astro:content";

const collection = await getCollection('npm');
console.log({ collection });
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		{collection.map(({ data }) => (console.log(data),<li>
			{data.name} - {data.version}<br/>
			{data.date}<br/>
			<a href={data.links.npm}>See on NPM</a>
		</li>))}
	</body>
</html>
